[Desktop Entry]
Name=PersianGlobalThemeX
Comment=Persian-style Plasma experience with dark neon look and dynamic visuals
X-KDE-PluginInfo-Author=Ali Asadi
X-KDE-PluginInfo-Email=ali.asady@gmail.com
X-KDE-PluginInfo-Website=https://p30developer.ir
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
